.App {
  font-family: sans-serif;
  text-align: center;
}
.Logo {
  position: absolute;
  opacity: 0.4;
}
.navigation {
  padding: 15px;
  margin: 15px;
}
.joypad {
  height: 256px;
  position: relative;
}